In [2]:
import pandas as pd

# Beijing AQ

In [3]:
df1 = pd.read_csv('data/beijing_201802_201803_aq.csv')
df2 = pd.read_csv('data/beijing_17_18_aq.csv')
stations = list(df1.groupby(by="stationId").size().index)
l = []
for station in stations:
    new = df1[df1.stationId==station]
    old = df2[df2.stationId==station]
    l.extend([old, new])
beijing_aq = pd.concat(l)
beijing_aq["utc_time"] = pd.to_datetime(beijing_aq["utc_time"])
beijing_aq = beijing_aq.rename(columns={"stationId": "station_id"})

# London AQ

In [48]:
df1 = pd.read_csv('data/London_historical_aqi_forecast_stations_20180331.csv', index_col=0)
df2 = pd.read_csv('data/London_historical_aqi_other_stations_20180331.csv')
df2 = df2.drop(["Unnamed: 5", "Unnamed: 6"], axis=1)
df2 = df2.dropna(how="all")
df2 = df2[: -1]
df2 = df2.rename(columns={"Station_ID": "station_id"})
london_aq = pd.concat([df1, df2])
london_aq = london_aq.rename(columns={"MeasurementDateGMT": "utc_time"})
london_aq["utc_time"] = pd.to_datetime(london_aq["utc_time"])

/Users/wind/miniconda3/envs/python3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Beijing grid meteorology

In [68]:
df = pd.read_csv("data/Beijing_historical_meo_grid.csv")

In [71]:
beijing_meo = df.rename(columns={
    "stationName": "station_id",
    "utc_time": "time",
    "wind_speed/kph": "wind_speed",
})
beijing_meo["time"] = pd.to_datetime(beijing_meo["time"])

,station_id,longitude,latitude,time,temperature,pressure,humidity,wind_direction,wind_speed
0,beijing_grid_000,115.0,39.0,2017-01-01 00:00:00,-5.47,984.73,76.60,53.71,3.53
1,beijing_grid_001,115.0,39.1,2017-01-01 00:00:00,-5.53,979.33,75.40,43.59,3.11
2,beijing_grid_002,115.0,39.2,2017-01-01 00:00:00,-5.70,963.14,71.80,0.97,2.75
3,beijing_grid_003,115.0,39.3,2017-01-01 00:00:00,-5.88,946.94,68.20,327.65,3.84
4,beijing_grid_004,115.0,39.4,2017-01-01 00:00:00,-5.34,928.80,58.81,317.85,6.14
5,beijing_grid_005,115.0,39.5,2017-01-01 00:00:00,-4.81,910.66,49.43,313.46,8.52
6,beijing_grid_006,115.0,39.6,2017-01-01 00:00:00,-4.98,889.48,45.64,309.89,10.05
7,beijing_grid_007,115.0,39.7,2017-01-01 00:00:00,-5.49,866.77,44.66,306.63,11.16
8,beijing_grid_008,115.0,39.8,2017-01-01 00:00:00,-6.17,853.42,46.57,299.83,11.28
9,beijing_grid_009,115.0,39.9,2017-01-01 00:00:00,-7.17,858.79,54.29,281.74,9.98
10,beijing_grid_010,115.0,40.0,2017-01-01 00:00:00,-8.17,864.16,62.00,260.98,9.88
11,beijing_grid_011,115.0,40.1,2017-01-01 00:00:00,-6.76,876.30,57.20,247.27,11.31
12,beijing_grid_012,115.0,40.2,2017-01-01 00:00:00,-5.36,888.44,52.40,237.08,13.24
13,beijing_grid_013,115.0,40.3,2017-01-01 00:00:00,-4.82,900.98,51.40,239.28,11.96
14,beijing_grid_014,115.0,40.4,2017-01-01 00:00:00,-4.71,913.71,52.30,250.54,9.22
15,beijing_grid_015,115.0,40.5,2017-01-01 00:00:00,-4.75,922.50,52.79,269.04,6.78
16,beijing_grid_016,115.0,40.6,2017-01-01 00:00:00,-5.08,923.38,52.44,302.43,5.00
17,beijing_grid_017,115.0,40.7,2017-01-01 00:00:00,-5.41,924.27,52.10,343.16,5.72
18,beijing_grid_018,115.0,40.8,2017-01-01 00:00:00,-6.45,905.98,52.74,324.80,5.15
19,beijing_grid_019,115.0,40.9,2017-01-01 00:00:00,-7.48,887.69,53.39,304.51,5.19
20,beijing_grid_020,115.0,41.0,2017-01-01 00:00:00,-7.83,881.60,53.60,298.12,5.35
21,beijing_grid_021,115.1,39.0,2017-01-01 00:00:00,-5.45,987.94,77.35,58.56,3.64
22,beijing_grid_022,115.1,39.1,2017-01-01 00:00:00,-5.51,983.02,76.21,50.52,3.17
23,beijing_grid_023,115.1,39.2,2017-01-01 00:00:00,-5.71,968.24,72.78,11.10,2.40
24,beijing_grid_024,115.1,39.3,2017-01-01 00:00:00,-5.90,953.47,69.36,330.71,3.10
25,beijing_grid_025,115.1,39.4,2017-01-01 00:00:00,-5.46,934.70,60.79,318.81,5.34
26,beijing_grid_026,115.1,39.5,2017-01-01 00:00:00,-5.01,915.94,52.22,314.02,7.67
27,beijing_grid_027,115.1,39.6,2017-01-01 00:00:00,-5.04,896.41,47.78,310.47,9.33
28,beijing_grid_028,115.1,39.7,2017-01-01 00:00:00,-5.32,876.51,45.40,307.44,10.68
29,beijing_grid_029,115.1,39.8,2017-01-01 00:00:00,-5.86,863.21,46.22,300.78,11.01
...,...,...,...,...,...,...,...,...,...
7034676,beijing_grid_621,117.9,40.2,2018-03-27 05:00:00,22.69,985.53,31.77,201.38,14.97
7034677,beijing_grid_622,117.9,40.3,2018-03-27 05:00:00,21.88,970.68,31.89,199.32,14.71
7034678,beijing_grid_623,117.9,40.4,2018-03-27 05:00:00,21.03,950.44,31.57,197.29,14.03
7034679,beijing_grid_624,117.9,40.5,2018-03-27 05:00:00,20.76,938.21,30.39,196.51,13.90
7034680,beijing_grid_625,117.9,40.6,2018-03-27 05:00:00,21.66,942.01,27.50,198.39,14.87
7034681,beijing_grid_626,117.9,40.7,2018-03-27 05:00:00,22.55,945.81,24.61,200.04,15.85
7034682,beijing_grid_627,117.9,40.8,2018-03-27 05:00:00,22.66,944.54,23.21,208.02,17.13
7034683,beijing_grid_628,117.9,40.9,2018-03-27 05:00:00,22.78,943.28,21.82,214.79,18.69
7034684,beijing_grid_629,117.9,41.0,2018-03-27 05:00:00,22.82,942.85,21.35,216.79,19.27
7034685,beijing_grid_630,118.0,39.0,2018-03-27 05:00:00,12.92,1006.22,64.88,186.68,21.87
7034686,beijing_grid_631,118.0,39.1,2018-03-27 05:00:00,13.83,1006.12,62.22,187.76,21.84
7034687,beijing_grid_632,118.0,39.2,2018-03-27 05:00:00,16.54,1005.80,54.24,190.98,21.82
7034688,beijing_grid_633,118.0,39.3,2018-03-27 05:00:00,19.26,1005.48,46.25,194.20,21.87
7034689,beijing_grid_634,118.0,39.4,2018-03-27 05:00:00,22.16,1005.15,38.41,198.41,21.41
7034690,beijing_grid_635,118.0,39.5,2018-03-27 05:00:00,25.05,1004.83,30.56,202.79,21.08
7034691,beijing_grid_636,118.0,39.6,2018-03-27 05:00:00,25.77,1004.40,27.31,204.97,20.04
7034692,beijing_grid_637,118.0,39.7,2018-03-27 05:00:00,25.84,1003.93,26.35,206.15,18.61
7034693,beijing_grid_638,118.0,39.8,2018-03-27 05:00:00,25.67,1002.11,26.35,206.98,17.12
7034694,beijing_grid_639,118.0,39.9,2018-03-27 05:00:00,25.00,997.59,28.25,206.78,15.51
7034695,beijing_grid_640,118.0,40.0,2018-03-27 05:00:00,24.06,993.07,30.15,206.53,13.89
7034696,beijing_grid_641,118.0,40.1,2018-03-27 05:00:00,23.37,989.98,31.11,203.77,14.45
7034697,beijing_grid_642,118.0,40.2,2018-03-27 05:00:00,22.68,986.90,32.06,201.23,15.03
7034698,beijing_grid_643,118.0,40.3,2018-03-27 05:00:00,21.86,972.13,32.22,198.90,14.71
7034699,beijing_grid_644,118.0,40.4,2018-03-27 05:00:00,20.98,951.51,31.98,196.40,13.95
7034700,beijing_grid_645,118.0,40.5,2018-03-27 05:00:00,20.70,939.23,30.83,195.12,13.78
7034701,beijing_grid_646,118.0,40.6,2018-03-27 05:00:00,21.64,943.63,27.87,196.62,14.79
7034702,beijing_grid_647,118.0,40.7,2018-03-27 05:00:00,22.58,948.03,24.92,197.92,15.80
7034703,beijing_grid_648,118.0,40.8,2018-03-27 05:00:00,22.64,945.85,23.57,206.12,16.94
7034704,beijing_grid_649,118.0,40.9,2018-03-27 05:00:00,22.71,943.67,22.23,213.17,18.38
7034705,beijing_grid_650,118.0,41.0,2018-03-27 05:00:00,22.73,942.95,21.78,215.27,18.91

# London grid meteorology

In [63]:
df = pd.read_csv("data/London_historical_meo_grid.csv")

In [66]:
london_meo = df.rename(columns={
    "stationName": "station_id",
    "utc_time": "time",
    "wind_speed/kph": "wind_speed"
})
london_meo["time"] = pd.to_datetime(london_meo["time"])

# APIs

In [103]:
import requests


def buildDataFrame(text):
    if len(text) < 10:
        return pd.DataFrame()
    tmp = text.split("\n")
    if (tmp[-1] == ""):
        tmp = tmp[: -1]
    for i in range(0, len(tmp)):
        if tmp[i][-1] == "\r":
            tmp[i] = tmp[i][: -1]
        tmp[i] = tmp[i].split(",")
    df = pd.DataFrame(tmp[1: ], columns=tmp[0])
    return df


def airQualityData(city="bj", year=2018, month=5, day=1, hour=0):
    if city == "bj":
        target = ["station_id", "time", "PM2.5", "PM10", "O3"]
    else:
        target = ["station_id", "time", "PM2.5", "PM10"]
    dic = {
        "PM25_Concentration": "PM2.5",
        "PM10_Concentration": "PM10",
        "O3_Concentration": "O3",
        "PM10 (ug/m3)": "PM10",
        "PM2.5 (ug/m3)": "PM2.5",
        "utc_time": "time",
    }
    if year == 2018 and month >= 4:
        url = 'https://biendata.com/competition/airquality/%s/%d-%d-%d-%d/%d-%d-%d-%d/2k0d1d8' % (city, year, month, day, hour, year, month, day, hour)
        response = requests.get(url)
        df = buildDataFrame(response.text)
        try:
            df["time"] = pd.to_datetime(df["time"])
        except:
            pass
    else:
        time = pd.Timestamp("%d-%d-%d %d:00:00" % (year, month, day, hour))
        if city == "bj":
            df = beijing_aq[beijing_aq["utc_time"] == time]
        else:
            df = london_aq[london_aq["utc_time"] == time]
        df = df.reset_index()
    
    df = df.rename(columns=dic)
    try:
        df = df[target]
    except:
        pass
    if df.empty:
        df = pd.DataFrame()
    return df


def meteorologyGridData(city="bj", year=2018, month=5, day=1, hour=0):
    target = ["station_id", "time", "temperature", "pressure",
              "humidity", "wind_direction", "wind_speed"]
    url = 'https://biendata.com/competition/meteorology/%s_grid/%d-%d-%d-%d/%d-%d-%d-%d/2k0d1d8' % (city, year, month, day, hour, year, month, day, hour)
    if year == 2018 and month >= 4:
        response = requests.get(url)
        df = buildDataFrame(response.text)
        try:
            df["time"] = pd.to_datetime(df["time"])
        except:
            pass
    else:
        time = pd.Timestamp("%d-%d-%d %d:00:00" % (year, month, day, hour))
        if city == "bj":
            df = beijing_meo[beijing_meo["time"] == time]
        else:
            df = london_meo[london_meo["time"] == time]
    try:
        df = df[target]
    except:
        pass
    df = df.reset_index(drop=True)
    if df.empty:
        df = pd.DataFrame()
    return df


def observedMeteorology(city="bj", year=2018, month=5, day=1, hour=0):
    if city != "bj":
        print("No observed meteorology data for London!!!!")
        return
    url = 'https://biendata.com/competition/meteorology/%s/%d-%d-%d-%d/%d-%d-%d-%d/2k0d1d8' % (city, year, month, day, hour, year, month, day, hour)
    response = requests.get(url)
    df = buildDataFrame(response.text)
    if df.empty:
        df = pd.DataFrame()
    return df

# airQualityData("ld", 2017, 4, 26, 2)
meteorologyGridData("ld", 2018, 4, 26, 2)

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
0,london_grid_000,2018-04-26 02:00:00,9.8,1017.6761,75.0,275.69,38.18
1,london_grid_001,2018-04-26 02:00:00,8.72,1016.3848,78.0,273.29,32.53
2,london_grid_002,2018-04-26 02:00:00,7.64,1015.0936,81.0,269.88,26.97
3,london_grid_003,2018-04-26 02:00:00,6.61,1012.1083,85.0,265.81,22.84
4,london_grid_004,2018-04-26 02:00:00,5.65,1007.429,89.0,261.5,20.14
5,london_grid_005,2018-04-26 02:00:00,4.68,1002.7497,94.0,255.9,17.58
6,london_grid_006,2018-04-26 02:00:00,4.78,1001.8773,92.0,256.34,17.88
7,london_grid_007,2018-04-26 02:00:00,4.87,1001.0049,91.0,256.77,18.18
8,london_grid_008,2018-04-26 02:00:00,5.03,1001.1484,90.0,257.4,18.3
9,london_grid_009,2018-04-26 02:00:00,5.27,1002.3078,87.0,258.22,18.25
10,london_grid_010,2018-04-26 02:00:00,5.5,1003.4672,85.0,259.05,18.21
11,london_grid_011,2018-04-26 02:00:00,5.1,1001.1842,87.0,258.27,18.08
12,london_grid_012,2018-04-26 02:00:00,4.71,998.9013,88.0,257.48,17.96
13,london_grid_013,2018-04-26 02:00:00,4.38,998.3275,90.0,256.11,17.75
14,london_grid_014,2018-04-26 02:00:00,4.11,999.463,92.0,254.12,17.45
15,london_grid_015,2018-04-26 02:00:00,3.84,1000.5985,94.0,252.07,17.18
16,london_grid_016,2018-04-26 02:00:00,3.98,1001.4638,94.0,252.45,16.92
17,london_grid_017,2018-04-26 02:00:00,4.12,1002.3292,93.0,252.84,16.65
18,london_grid_018,2018-04-26 02:00:00,4.54,1001.2867,91.0,255.57,16.85
19,london_grid_019,2018-04-26 02:00:00,5.26,998.3364,86.0,260.33,17.59
20,london_grid_020,2018-04-26 02:00:00,5.98,995.386,81.0,264.68,18.44
21,london_grid_021,2018-04-26 02:00:00,9.84,1017.76,75.0,275.63,38.4
22,london_grid_022,2018-04-26 02:00:00,8.8,1016.6102,77.0,273.33,32.85
23,london_grid_023,2018-04-26 02:00:00,7.77,1015.4603,80.0,270.09,27.37
24,london_grid_024,2018-04-26 02:00:00,6.77,1012.8777,84.0,266.14,23.18
25,london_grid_025,2018-04-26 02:00:00,5.81,1008.8623,88.0,261.76,20.27
26,london_grid_026,2018-04-26 02:00:00,4.85,1004.8469,93.0,255.96,17.52
27,london_grid_027,2018-04-26 02:00:00,4.85,1003.0021,92.0,256.18,17.8
28,london_grid_028,2018-04-26 02:00:00,4.85,1001.1574,91.0,256.39,18.07
29,london_grid_029,2018-04-26 02:00:00,4.94,1000.4514,90.0,256.93,18.21
...,...,...,...,...,...,...,...
831,london_grid_831,2018-04-26 02:00:00,9.27,1013.3726,77.0,271.48,40.57
832,london_grid_832,2018-04-26 02:00:00,9.14,1013.1503,78.0,271.94,40.64
833,london_grid_833,2018-04-26 02:00:00,8.89,1012.9382,79.0,271.77,40.41
834,london_grid_834,2018-04-26 02:00:00,8.64,1012.7261,80.0,271.6,40.18
835,london_grid_835,2018-04-26 02:00:00,8.34,1012.4848,81.0,270.35,38.85
836,london_grid_836,2018-04-26 02:00:00,8.04,1012.2435,82.0,269.01,37.54
837,london_grid_837,2018-04-26 02:00:00,7.81,1012.0043,83.0,267.6,36.3
838,london_grid_838,2018-04-26 02:00:00,7.64,1011.7673,84.0,266.11,35.12
839,london_grid_839,2018-04-26 02:00:00,7.47,1011.5302,84.0,264.52,33.97
840,london_grid_840,2018-04-26 02:00:00,6.73,1002.4981,87.0,261.05,20.54
841,london_grid_841,2018-04-26 02:00:00,6.8,1002.8235,86.0,262.55,21.54
842,london_grid_842,2018-04-26 02:00:00,6.86,1003.149,85.0,263.91,22.54
843,london_grid_843,2018-04-26 02:00:00,7.27,1005.6785,83.0,265.2,25.64
844,london_grid_844,2018-04-26 02:00:00,8.03,1010.412,81.0,266.17,30.83
845,london_grid_845,2018-04-26 02:00:00,8.79,1015.1454,78.0,266.86,36.02
846,london_grid_846,2018-04-26 02:00:00,8.94,1014.8781,78.0,267.02,37.89
847,london_grid_847,2018-04-26 02:00:00,9.08,1014.6107,78.0,267.17,39.76
848,london_grid_848,2018-04-26 02:00:00,9.18,1014.3386,78.0,267.63,40.53
849,london_grid_849,2018-04-26 02:00:00,9.24,1014.0618,78.0,268.41,40.21
850,london_grid_850,2018-04-26 02:00:00,9.29,1013.7849,78.0,269.21,39.9
851,london_grid_851,2018-04-26 02:00:00,9.28,1013.5574,78.0,270.37,40.09
852,london_grid_852,2018-04-26 02:00:00,9.26,1013.3299,78.0,271.52,40.3
853,london_grid_853,2018-04-26 02:00:00,9.15,1013.1084,78.0,272.07,40.5
854,london_grid_854,2018-04-26 02:00:00,8.95,1012.893,79.0,272.04,40.69
855,london_grid_855,2018-04-26 02:00:00,8.75,1012.6776,80.0,272.01,40.87
856,london_grid_856,2018-04-26 02:00:00,8.51,1012.4515,81.0,270.88,40.07
857,london_grid_857,2018-04-26 02:00:00,8.27,1012.2254,82.0,269.71,39.29
858,london_grid_858,2018-04-26 02:00:00,8.08,1011.9983,83.0,268.44,38.43
859,london_grid_859,2018-04-26 02:00:00,7.94,1011.7702,83.0,267.05,37.51
860,london_grid_860,2018-04-26 02:00:00,7.79,1011.5422,83.0,265.59,36.62