In [1]:
import pandas as pd
import numpy as np
from fbprophet import Prophet

In [4]:
df = pd.read_csv('data/beijing_201802_201803_aq.csv')
df['utc_time'] = pd.to_datetime(df['utc_time'])

In [11]:
pm25_df = df[['utc_time', 'PM2.5']]
pm25_df.columns = ['ds', 'y']

In [12]:
pm25_df = pm25_df.dropna()

In [13]:
m = Prophet()
m.fit(pm25_df);

INFO:fbprophet.forecaster:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
/anaconda3/envs/python36/lib/python3.6/site-packages/pystan/misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [18]:
future = m.make_future_dataframe(periods=60)
future

                       ds
0     2018-01-31 16:00:00
1     2018-01-31 16:00:00
2     2018-01-31 16:00:00
3     2018-01-31 16:00:00
4     2018-01-31 16:00:00
5     2018-01-31 16:00:00
6     2018-01-31 16:00:00
7     2018-01-31 16:00:00
8     2018-01-31 16:00:00
9     2018-01-31 16:00:00
10    2018-01-31 16:00:00
11    2018-01-31 16:00:00
12    2018-01-31 16:00:00
13    2018-01-31 16:00:00
14    2018-01-31 16:00:00
15    2018-01-31 16:00:00
16    2018-01-31 16:00:00
17    2018-01-31 16:00:00
18    2018-01-31 16:00:00
19    2018-01-31 16:00:00
20    2018-01-31 16:00:00
21    2018-01-31 16:00:00
22    2018-01-31 16:00:00
23    2018-01-31 16:00:00
24    2018-01-31 16:00:00
25    2018-01-31 17:00:00
26    2018-01-31 17:00:00
27    2018-01-31 17:00:00
28    2018-01-31 17:00:00
29    2018-01-31 17:00:00
...                   ...
46380 2018-05-01 15:00:00
46381 2018-05-02 15:00:00
46382 2018-05-03 15:00:00
46383 2018-05-04 15:00:00
46384 2018-05-05 15:00:00
46385 2018-05-06 15:00:00
46386 2018-05-07 15:00:00
46387 2018-05-08 15:00:00
46388 2018-05-09 15:00:00
46389 2018-05-10 15:00:00
46390 2018-05-11 15:00:00
46391 2018-05-12 15:00:00
46392 2018-05-13 15:00:00
46393 2018-05-14 15:00:00
46394 2018-05-15 15:00:00
46395 2018-05-16 15:00:00
46396 2018-05-17 15:00:00
46397 2018-05-18 15:00:00
46398 2018-05-19 15:00:00
46399 2018-05-20 15:00:00
46400 2018-05-21 15:00:00
46401 2018-05-22 15:00:00
46402 2018-05-23 15:00:00
46403 2018-05-24 15:00:00
46404 2018-05-25 15:00:00
46405 2018-05-26 15:00:00
46406 2018-05-27 15:00:00
46407 2018-05-28 15:00:00
46408 2018-05-29 15:00:00
46409 2018-05-30 15:00:00

[46410 rows x 1 columns]

In [19]:
forecast = m.predict(future)

In [37]:
res_df = forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]
res_df = res_df[res_df.ds >= '2018-03-15']

In [38]:
res_df

                       ds        yhat    yhat_lower    yhat_upper
33288 2018-03-15 00:00:00   95.656898     35.347088    160.679085
33289 2018-03-15 00:00:00   95.656898     39.088275    154.327855
33290 2018-03-15 00:00:00   95.656898     34.006131    155.329244
33291 2018-03-15 00:00:00   95.656898     35.600970    157.032595
33292 2018-03-15 00:00:00   95.656898     31.068044    156.999313
33293 2018-03-15 00:00:00   95.656898     32.019325    156.990109
33294 2018-03-15 00:00:00   95.656898     29.500734    155.858310
33295 2018-03-15 00:00:00   95.656898     32.839267    163.283774
33296 2018-03-15 00:00:00   95.656898     37.314494    153.594163
33297 2018-03-15 00:00:00   95.656898     39.507240    158.634807
33298 2018-03-15 00:00:00   95.656898     38.729912    155.690421
33299 2018-03-15 00:00:00   95.656898     33.375862    154.054766
33300 2018-03-15 00:00:00   95.656898     35.840379    154.225499
33301 2018-03-15 00:00:00   95.656898     34.297758    153.580842
33302 2018-03-15 00:00:00   95.656898     35.379183    158.250076
33303 2018-03-15 00:00:00   95.656898     28.566156    156.419059
33304 2018-03-15 00:00:00   95.656898     36.615479    156.695587
33305 2018-03-15 00:00:00   95.656898     30.665793    154.769729
33306 2018-03-15 00:00:00   95.656898     30.713800    156.702062
33307 2018-03-15 00:00:00   95.656898     35.317177    156.847848
33308 2018-03-15 00:00:00   95.656898     37.818030    154.786832
33309 2018-03-15 00:00:00   95.656898     33.044539    157.637514
33310 2018-03-15 00:00:00   95.656898     34.352151    157.379650
33311 2018-03-15 00:00:00   95.656898     32.888076    155.391639
33312 2018-03-15 00:00:00   95.656898     34.600751    159.696858
33313 2018-03-15 00:00:00   95.656898     35.884332    158.347238
33314 2018-03-15 00:00:00   95.656898     31.670537    155.507022
33315 2018-03-15 00:00:00   95.656898     33.927321    160.721080
33316 2018-03-15 00:00:00   95.656898     35.192121    159.876280
33317 2018-03-15 00:00:00   95.656898     38.930151    157.528991
...                   ...         ...           ...           ...
46380 2018-05-01 15:00:00  326.373238  -6627.184619   6955.896483
46381 2018-05-02 15:00:00  279.454174  -6986.901660   7318.180071
46382 2018-05-03 15:00:00  288.059124  -7419.957795   7649.433290
46383 2018-05-04 15:00:00  304.399271  -7722.675847   8125.281715
46384 2018-05-05 15:00:00  296.631355  -8190.447338   8417.639796
46385 2018-05-06 15:00:00  316.932771  -8595.934559   8903.197624
46386 2018-05-07 15:00:00  356.346107  -8994.623955   9343.002163
46387 2018-05-08 15:00:00  363.898399  -9503.059671   9808.861610
46388 2018-05-09 15:00:00  316.979336  -9803.686669  10119.660692
46389 2018-05-10 15:00:00  325.584285 -10270.943067  10507.729320
46390 2018-05-11 15:00:00  341.924432 -10625.125172  10839.342831
46391 2018-05-12 15:00:00  334.156516 -11182.959702  11187.348459
46392 2018-05-13 15:00:00  354.457932 -11729.073570  11508.344468
46393 2018-05-14 15:00:00  393.871268 -12184.184508  11947.660099
46394 2018-05-15 15:00:00  401.423561 -12543.434196  12371.841000
46395 2018-05-16 15:00:00  354.504497 -13137.157668  12806.092201
46396 2018-05-17 15:00:00  363.109447 -13577.229155  13428.793124
46397 2018-05-18 15:00:00  379.449593 -14028.480264  14061.607696
46398 2018-05-19 15:00:00  371.681677 -14445.801909  14301.108798
46399 2018-05-20 15:00:00  391.983094 -14941.836669  14698.484961
46400 2018-05-21 15:00:00  431.396430 -15135.360015  15233.084724
46401 2018-05-22 15:00:00  438.948722 -15721.900627  15685.788860
46402 2018-05-23 15:00:00  392.029658 -16038.741344  16128.382308
46403 2018-05-24 15:00:00  400.634608 -16650.625411  16356.894787
46404 2018-05-25 15:00:00  416.974755 -17178.977301  16768.047665
46405 2018-05-26 15:00:00  409.206838 -17628.232822  17106.719046
46406 2018-05-27 15:00:00  429.508255 -18065.574823  17665.278055
46407 2018-05-28 15:00:00  468.921591 -18707.399892  18089.258536
46408 2018-05-29 15:00:00  476.473883 -19128.476850  18260.192211
46409 2018-05-30 15:00:00  429.554819 -19675.971274  18504.487609

[13122 rows x 4 columns]

In [39]:
pm25_df[pm25_df['ds'] >= '2018-03-15']

                       ds      y
23724 2018-03-15 00:00:00   10.0
23725 2018-03-15 01:00:00    4.0
23726 2018-03-15 02:00:00    5.0
23727 2018-03-15 03:00:00    7.0
23728 2018-03-15 04:00:00    3.0
23729 2018-03-15 05:00:00   10.0
23730 2018-03-15 06:00:00    4.0
23731 2018-03-15 07:00:00    7.0
23732 2018-03-15 08:00:00    3.0
23733 2018-03-15 09:00:00    5.0
23734 2018-03-15 10:00:00    4.0
23735 2018-03-15 11:00:00    3.0
23736 2018-03-15 12:00:00   25.0
23737 2018-03-15 13:00:00   22.0
23738 2018-03-15 14:00:00   30.0
23739 2018-03-15 15:00:00   28.0
23740 2018-03-15 16:00:00   26.0
23741 2018-03-15 17:00:00   26.0
23742 2018-03-15 18:00:00   21.0
23743 2018-03-15 19:00:00   17.0
23744 2018-03-15 20:00:00   18.0
23745 2018-03-15 21:00:00   16.0
23746 2018-03-15 22:00:00   16.0
23747 2018-03-15 23:00:00   25.0
23748 2018-03-16 00:00:00   22.0
23749 2018-03-16 01:00:00   21.0
23750 2018-03-16 02:00:00   20.0
23751 2018-03-16 03:00:00   28.0
23752 2018-03-16 04:00:00   35.0
23753 2018-03-16 05:00:00   30.0
...                   ...    ...
48646 2018-03-30 10:00:00   55.0
48647 2018-03-30 11:00:00   53.0
48648 2018-03-30 12:00:00   53.0
48649 2018-03-30 13:00:00   60.0
48650 2018-03-30 14:00:00   67.0
48651 2018-03-30 15:00:00   74.0
48652 2018-03-30 16:00:00   77.0
48653 2018-03-30 17:00:00   85.0
48654 2018-03-30 18:00:00   88.0
48655 2018-03-30 19:00:00   86.0
48656 2018-03-30 20:00:00   82.0
48657 2018-03-30 21:00:00   71.0
48658 2018-03-30 22:00:00   70.0
48659 2018-03-30 23:00:00   65.0
48660 2018-03-31 00:00:00   60.0
48661 2018-03-31 01:00:00  161.0
48662 2018-03-31 02:00:00   79.0
48663 2018-03-31 03:00:00   80.0
48664 2018-03-31 04:00:00   87.0
48665 2018-03-31 05:00:00   94.0
48666 2018-03-31 06:00:00  102.0
48667 2018-03-31 07:00:00  106.0
48668 2018-03-31 08:00:00  114.0
48669 2018-03-31 09:00:00  112.0
48670 2018-03-31 10:00:00  116.0
48671 2018-03-31 11:00:00  125.0
48672 2018-03-31 12:00:00  138.0
48673 2018-03-31 13:00:00  146.0
48674 2018-03-31 14:00:00  150.0
48675 2018-03-31 15:00:00  152.0

[13062 rows x 2 columns]

In [45]:
Prophet??